#title {
  text-align: center;
  color: brown;
  font-family: monospace;
}

#color-palette {
    height: 100px;
    width: auto;
}

.color {
  border: black solid 1px;
  display: inline-block;
  height: 100px;
  width: 100px;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.pixel {
  height: 40px;
  width: 40px;
  background-color: white;
  border: black 1px solid;
  display: inline-block;
}

#pixel-board {
  width: 240px;
}